.game{
    width: 600px;
    height: 200px;

    border-bottom: 1px solid #000;
    margin: auto;
}
#dino{
    height: 50px;
    width: 50px;
    background-image: url(img/dino.png);
    background-size: 50px 50px ;
    position: relative;
    top: 155px;

}
#cactus{
    width: 70px;
    height: 50px;
    background-image: url(img/cactus.png);
    background-size: 20px 40px ;
    position: relative;
    top: 110px;
    left: 580px;
   
}

